<div class="row mt-4">
  <div class="col-sm-3 ml-n3 min-vh-100 container-scroll overflow-auto">
    <app-coaler (conversationChanged)="updateCurrentConversation($event)" [user]="user"></app-coaler>
  </div>
  <section *ngIf="currentConversation != null; then conversationBlock else attentionBlock"></section>
</div>

<ng-template #conversationBlock>
  <div class="col-sm-9 w-100 min-vh-100 container-scroll overflow-auto border bg-soft-primary">
    <app-conversation-message [conversation]="currentConversation"></app-conversation-message>
  </div>
  <div class="container mt-4">
    <div class="row d-flex justify-content-end align-items-end">
      <div class="col-sm-9">
        <form (ngSubmit)="onSendMessage()" [formGroup]="sendMessageForm" class="form-inline" method="post">
          <div class="form-group w-75">
            <label class="text-hide" for="conversation_message">Message</label>
            <textarea formControlName="message" id="conversation_message" placeholder="Enter message..."
                      required></textarea>

            <div *ngIf="message.invalid && (message.dirty || message.touched)" class="text-danger mt-1">
              <div *ngIf="message.errors.required">
                <span>Message cannot be empty.</span>
              </div>
            </div>
          </div>
          <button [disabled]="sendMessageForm.invalid"
                  class="btn btn-primary ml-4 pl-4 pr-4 pt-3 pb-3"
                  type="submit">
            Send
          </button>
        </form>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #attentionBlock>
  <div class="col-sm-9 d-flex align-items-center justify-content-center">
    <h6 class="alert alert-light bg-transparent rounded">Select a chat to start messaging</h6>
  </div>
</ng-template>
