<div class="row mt-4">
  <div class="col-sm-3 ml-n3 min-vh-100 container-scroll overflow-auto">
    <app-coaler [user]="user"></app-coaler>
  </div>
  <div class="col-sm-9 w-100 min-vh-100 container-scroll overflow-auto border bg-soft-primary">
    <app-conversation-messages-core></app-conversation-messages-core>
  </div>
  <div class="container mt-4">
    <div class="row d-flex justify-content-end align-items-end">
      <div class="col-sm-9">
        <form class="form-inline">
          <div class="form-group w-75">
            <label class="text-hide" for="conversation_message">Message</label>
            <textarea id="conversation_message" name="conversation[message]" placeholder="Enter message..."></textarea>
          </div>
          <button class="btn btn-primary ml-4 pl-4 pr-4 pt-3 pb-3" type="submit">Send</button>
        </form>
      </div>
    </div>
  </div>
</div>
