<div class="row mt-5">
  <div class="col-4 col-md-3 col-lg-2">
    <img alt="Logo" class="logo img-fluid" src="favicon.ico">
  </div>
  <div class="col-8 col-md-9 col-lg-10">
    <h2>Web Chat</h2>
    <hr>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Non curabitur gravida arcu ac. Rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt
      lobortis. Imperdiet nulla malesuada pellentesque elit eget gravida cum sociis. Tortor posuere ac ut consequat
      semper. Mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus. Elit sed vulputate mi sit
      amet mauris commodo quis imperdiet. Tortor at auctor urna nunc. Quisque egestas diam in arcu cursus euismod.
      Sapien et ligula ullamcorper malesuada proin libero nunc consequat. Mi bibendum neque egestas congue quisque
      egestas diam in arcu. Sagittis id consectetur purus ut faucibus pulvinar elementum integer enim. Ipsum suspendisse
      ultrices gravida dictum fusce ut placerat orci. Ornare lectus sit amet est. Morbi tristique senectus et netus et
      malesuada fames ac. Faucibus vitae aliquet nec ullamcorper sit amet risus nullam. Sit amet nulla facilisi morbi
      tempus iaculis urna id volutpat. Dictum non consectetur a erat.
    </p>
    <p>
      Aliquam vestibulum morbi blandit cursus risus at ultrices mi. Velit euismod in pellentesque massa placerat duis
      ultricies lacus. Ullamcorper malesuada proin libero nunc consequat interdum varius sit amet. Fames ac turpis
      egestas maecenas. Aenean et tortor at risus viverra. In tellus integer feugiat scelerisque varius. Venenatis a
      condimentum vitae sapien pellentesque habitant morbi tristique. Velit dignissim sodales ut eu sem integer vitae
      justo. Nec ullamcorper sit amet risus nullam eget felis. Nibh tortor id aliquet lectus. Etiam sit amet nisl purus
      in mollis nunc.
    </p>
    <p>
      Venenatis tellus in metus vulputate eu scelerisque felis imperdiet proin. Cursus mattis molestie a iaculis. Purus
      sit amet volutpat consequat mauris nunc congue nisi. In eu mi bibendum neque egestas congue. Nulla facilisi cras
      fermentum odio eu feugiat pretium. Viverra mauris in aliquam sem fringilla ut. Nunc mattis enim ut tellus. Urna
      nunc id cursus metus aliquam eleifend mi. Neque vitae tempus quam pellentesque nec nam. Egestas erat imperdiet sed
      euismod nisi porta lorem mollis aliquam. At erat pellentesque adipiscing commodo. Dolor sit amet consectetur
      adipiscing elit duis tristique sollicitudin nibh. Nec feugiat nisl pretium fusce id velit ut tortor.
    </p>
  </div>
</div>
