<div class="row mt-5 d-flex justify-content-center align-items-center">
  <div class="col-sm-12">
    <h2 class="text-center mt-3">Create your account</h2>
  </div>
</div>

<div class="row mt-5 d-flex justify-content-center align-items-center">
  <div class="col-sm-3">
    <form (ngSubmit)="signup()" [formGroup]="formGroup" method="post">
      <div class="form-group">
        <label class="font-weight-bold" for="user_username">Username</label>
        <input class="form-control" formControlName="userName" id="user_username" required type="text">

        <div *ngIf="username.invalid && (username.dirty || username.touched)" class="text-danger mt-1">
          <div *ngIf="username.errors.required">
            <span>Username cannot be empty.</span>
          </div>
          <div *ngIf="username.errors.pattern">
            <span>Username cannot contain spaces.</span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="font-weight-bold" for="user_password">Password</label>
        <input class="form-control" formControlName="password" id="user_password" required type="password">

        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger mt-1">
          <div *ngIf="password.errors.required">
            <span>Password cannot be empty.</span>
          </div>
          <div *ngIf="password.errors.pattern">
            <span>Make sure it's at least 8 characters, including a number, uppercase and lowercase letters.</span>
          </div>
        </div>

        <div *ngIf="haveFirstAttempt && (formGroup.errors?.identity && (formGroup.touched || formGroup.dirty))"
             class="text-danger mt-3">
          <span [innerText]="identityError"></span>
        </div>
      </div>

      <div class="form-row mt-4">
        <div class="col-sm-12">
          <button [disabled]="formGroup.invalid" class="pt-3 pb-3 btn btn-primary w-100 font-weight-bold" type="submit">
            Create your account
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
